# This file seems to be created when the explicitly set root project name (see `settings.gradle.kts`) is not the same as
# the directory name containing said root project.
/.name

/compoundzebra-community-discord-server-bot.iml

/compiler.xml
/gradle.xml
/jarRepositories.xml
/kotlinc.xml
/misc.xml
/modules.xml
/modules/
/uiDesigner.xml
/vcs.xml
/workspace.xml
